<form name="login_form" action="http://127.0.0.1:7000/user/login" method="post">
    <label for="post-login">Login: </label>
    <input id="post-login" type="text" name="login">
    <br>
    <br>
    <label for="post-pass">Password: </label>
    <input id="post-pass" type="text" name="password">
    <br>
    <br>
    <button type="submit">SignIn</button>
</form>
<br>
<a href="/registration"><button type="button">Registration</button></a>
<a href="/"><button type="button">On main page</button></a>
