<form name="registration_form" action="http://127.0.0.1:7000/registration" method="post">
    <label for="post-login">Login: </label>
    <input id="post-login" type="text" name="login">
    <br>
    <br>
    <label for="post-name">Name: </label>
    <input id="post-name" type="text" name="name">
    <br>
    <br>
    <label for="post-email">Email: </label>
    <input id="post-email" type="text" name="email">
    <br>
    <br>
    <label for="post-pass">Password: </label>
    <input id="post-pass" type="text" name="password">
    <br>
    <br>
    <button type="submit">Register</button>
    <a href="/"><button type="button">On main page</button></a>
</form>
<br>
<span class="custom-notification">
    {{notification}}
</span>
